<section>
  <article class="background">
    <div class="card-container">
      <div class="buttons">
        <button mat-raised-button (click)="openDialog()">
          <fa-icon [icon]="faQrCode" size="2xl"></fa-icon>
        </button>
        <button mat-raised-button routerLink="/registrar-informacoes-pessoa">
          <fa-icon [icon]="editPen" size="2xl"></fa-icon>
        </button>
      </div>

      <div class="card-header">
        <h3>Você está cortejando {{ currentUser.spouse_name }}</h3>

        <div class="header">
          <p>Desde: {{ currentUser.couple_start | date: "dd/MM/yyyy" }}</p>
          <p>Juntos por: <strong><u>{{ daysCount }}</u></strong> dias e contando {{ currentTime | date: 'HH:mm:ss' }}</p>
        </div>
      </div>

      <article class="card-content">
        <div class="polaroid">
          <div class="polaroid-img-block">
            <img [src]="currentUser.couple_image" alt="{{currentUser.name}} & {{currentUser.spouse_name}}" />
          </div>
          <div class="footer">
            <div class="action-buttons">
              <div class="buttons">
                <a>
                  <fa-icon [icon]="!isLiked ? faHeart : faLikedHeart" size="2xl"></fa-icon>
                </a>
              </div>
              <p>{{ currentUser.affection_message }}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </article>
</section>
