html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  .auth-header {
    color: #4d4d4d;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .table-content {
    max-width: 480px;
    min-width: 360px;
    overflow-x: scroll;
  }

  .auth-header {
    top: calc(50% - 280px) !important;
  }
}
